[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=8.0.0"
colorama = "*"
openpyxl = ">=3.1.0"
uplink = ">=0.9.7"
aiohttp = "*"
docker = "*"
tzlocal = ">=4.2"
streamlit = "1.37.0"
streamlit-modal = "*"
mcp = "*"
deepdiff = ">=6.7.0"
requests = ">=2.26.0"
python-pptx = ">=1.0.2"
altair = "==4.2.2"
openai = "*"
pandas = "*"
tabulate = "*"

[dev-packages]
black = "24.3.0"
pytest-asyncio = "*"
pytest = ">=7.0.0"
pytest-cov = "*"
coverage = "*"
isort = "==5.10.1"
pyinstaller = "*"

[requires]
python_version = "3.12"
